$mainColor:#1E90FF;
$mainTextColor:darken($mainColor,50%);
$textColor: lighten($mainColor,20%);
$mainFontSize:20px;
$paddingForNavBar:20px;
$HeaderHeight:15%;
$accentColor: #382D01;
$smalerFontSize:15px;