<head>
    {% include 'htmlHead.tmpl' %}
</head>
<body>
    {% include 'header.tmpl' %}
    <div id="main">
        {% include 'galleryFilter.tmpl' %}
        {% include 'gallery.tmpl' %}
    </div>
    {% include 'footer.tmpl' %}
</body>