<div id="content">
	{% for item in gallery %}
		{% include 'galleryItem.tmpl' %}
	{% endfor %}
    <ul>
        <li>Теги для фильтра через for </li>
        <li>Шаблон для одной картины</li>
        <li>Поправить стили</li>
    </ul>
</div>