<div id="galleryItem">
    <img src="{{ item.SRC }}" alt="Картина">
    <span class="itemName">{{ item.name }}</span>
    <div class="itemPrice">{{ item.price }}</div>
    <div id="itemTags">
        <div>совы</div>
    </div>
</div>