<div id="filter">
    <form id="searchForm">
        <input id="searchImage" name="search" placeholder="поиск">
        <div id="searchButton"><img src="/frontend/css/images/search.png" alt="search"></div>
    </form>
    <div id="tags">
        <div id="1">Совы</div>
    </div>
</div>