<div id="header">
    <div id="logo">
        <img src="/style/images/logo.png" alt="logo" id="logoImg">
        <div id="logoName">Совушкин</div>
    </div>
    <div id="navBar">
        {% if showGallery %}
        <div id="gallery">Галлерея</div>
        {% endif %}
        {% if showLK %}
        <div id="LK">Личный кабинет</div>
        {% endif %}
        <div id="basket">
            <img src="/style/images/basket.png" alt="Корзина">
            <div id="count"> {{ basketItem }}</div>
        </div>
    </div>
</div>
<hr id="headerBorder"/>